*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 2em;
}

h2 {
  margin-top: 2em;
}

h3 {
  text-align: center;
}
  
label {
  user-select: none;
}

button, input, textarea {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 0.2em 0.5em;
}

textarea {
  width: 100%;
}

.outline {
  position: relative;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}

.outline button {
  position: absolute;
  right: 2em;
  top: 2em;
}

pre {
  padding: 0.5em;
  background-color: #ddd;
  border-radius: 3px;
}

code, kbd {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 1em;
  user-select: all;
}

img, .block {
  display: block;
  margin: 0.3em;
}

/* Editor */
#editor {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #161b22;
  color: #c9d1d9;
  border-radius: 10px;

  outline: none;
  white-space: pre;
  overflow-x: auto;

  caret-color: transparent; /* sembunyikan cursor asli */
}

/* Cursor blok ala nvim */
.cursornvim {
  display: inline-block;
  background: #58a6ff;
  width: 8px;
  animation: blink 1s steps(1) infinite;
}

/* Animasi blink */
@keyframes blink {
  50% {
    background: transparent;
  }
}

/* Selection */
::selection {
  background: #264f78;
}
