body {
  font-family: monospace;
  background: #f5f5f5;
  padding: 1em;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
}

h2, h3 {
  margin-top: 1.5em;
}

code {
  display: block;
  background: #0b0c0e;
  color: #f0f0f0;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}

.github-fork-ribbon:before {
  background-color: #0b0c0e;
}

footer {
  font-size: 0.75rem;
  margin-top: 3em;
}

.share-line {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: nowrap; /* jangan wrap ke baris baru */
  overflow-x: auto;  /* jika kebanyakan elemen, bisa di-scroll horizontal */
  margin-top: 0.5em;
  -webkit-overflow-scrolling: touch; /* smooth scroll di iOS */
}



#player {
  max-width: 100%;
  margin-top: 1em;
}

iframe,
.asciinema-player {
  width: 100% !important;
  height: auto !important;
}

.note {
  font-size: 0.9em;
  background: #fff9c4;
  padding: 1em;
  border-left: 5px solid #fbc02d;
  margin-top: 1em;
}

/* Tambahan gaya share */
.share {
  font-weight: bold;
  position: relative;
}

.share:before {
  content: ".";
  font-size: 2.2em;
  position: absolute;
  bottom: -2.5px;
  left: -4px;
}

.share:after {
  content: ":";
  font-size: 2em;
  position: absolute;
  bottom: -6px;
  right: -7px;
}
.code-container {
  position: relative; /* Essential for positioning the button */
  /* Other styling for the code container */
}

.copy-code-button {
  position: absolute;
  top: 5px;
  right: 5px;
  /* Add other styling for appearance */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
